@import "../../styles/variables.scss";

.menu {
  background-color: $blue;
  width: 100%;
  height: clamp(416px, 194.38848vw, 1664px);
}

.text {
  &__menu {
    margin-top: clamp(50px, 23.363999999999997vw, 200px);
  }
  &__menu__content {
    margin-top: clamp(22.5px, 10.5138vw, 90px);
    text-align: center;
    color: $white;
  }
  &__menu__button {
    text-decoration: none;
    color: white;
    border: 1px solid #b0c4b1;
    background-color: #b0c4b1;
  }
}
