@import "../../styles/variables.scss";

.container {
  margin: auto;
  width: 90%;

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__first-text {
      text-align: center;
      font-weight: 600;
      font-size: clamp(9px, 4.20552vw, 36px);
      color: $blue;
      font-family: "Raleway", sans-serif;
    }
  }

  &__main {
    font-family: "Raleway", sans-serif;
    margin-top: clamp(15px, 7.0092vw, 60px);
  }

  &__main-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $gray;
    text-transform: uppercase;
    font-size: clamp(16px, 7.47648vw, 64px);
  }

  &__span-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $blue;
    text-transform: uppercase;
    font-size: clamp(16px, 7.47648vw, 64px);
  }

  &__last-text {
    color: $gray;
    font-weight: 600;
    font-size: clamp(8px, 3.73824vw, 32px);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: clamp(17.5px, 8.177399999999999vw, 70px);
    line-height: clamp(12.5px, 5.840999999999999vw, 50px);
  }

  &__image {
    margin-left: clamp(7.5px, 3.5046vw, 30px);
    width: clamp(178px, 83.17584vw, 712px);
    height: clamp(95.5px, 44.62524vw, 382px);
    margin-top: clamp(30px, 14.0184vw, 120px);
  }

  &__container__buttons {
    margin: auto;
    margin-top: clamp(40px, 18.6912vw, 160px);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: clamp(100px, 46.727999999999994vw, 400px);
  }

  &__buttons__cons {
    margin-top: clamp(30px, 14.0184vw, 120px);
    background-color: $blue;
    border: none;
    border-radius: clamp(3px, 1.40184vw, 12px);
    color: white;
    padding: clamp(7.5px, 3.5046vw, 30px);
    font-size: clamp(8px, 3.73824vw, 32px);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: clamp(15px, 7.0092vw, 60px);
  }

  &__buttons__more {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid $blue;
    border-radius: 6px;
    padding: clamp(6.5px, 3.03732vw, 26px);
    color: $blue;
    font-family: "Raleway", sans-serif;
    font-size: clamp(8px, 3.73824vw, 32px);
    font-weight: 700;
  }

  &__arrow {
    display: flex;
    justify-content: center;
  }

  &__arrow-img {
    width: clamp(28.5px, 13.31748vw, 114px);
    height: clamp(15.5px, 7.242839999999999vw, 62px);
    margin-top: clamp(30px, 14.0184vw, 120px);
  }
}

.separator {
  margin-top: clamp(9px, 4.20552vw, 36px);
  border: 1px solid $blue;
}
